.NavBar {

}

.logo {
    font-size: 8vh;
    font-family: 'Prosto One', cursive;
}

.NavLink {
    padding: 6px;
    text-decoration: none;
    font-size: 5vh;
    font-family: 'Caveat', cursive;
    color: #fff;
}