.App {
    font-family: sans-serif;
    min-height: 100vh;
  }

  .Main {
    padding-top: 175px;
  }

a {
  color: #fff;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}
